@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', monospace;
  background-color: #ffffff!important;
}

.pokemon_container {
  padding: 40px 0;
}

.topbar {
  font-family: 'Inconsolata', monospace;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}
.position-right {
  right: 3px;
}
