.reactSidebar {
  position: fixed;
  z-index: 2;
  height: 100%;
  padding-top: 56px;
  top: 0;
  bottom: 0;
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slideOut {
  animation-name: slideOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
